body {
  transform: scale(1);
  transform-origin: 0 0;
  width: 830px;
  font-size: 18px;
  color: #1e1f20;
  font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
  background: url("../common/theme/bg-01.jpg");
}

.container {
  width: 830px;
  padding: 20px 15px 10px 15px;
  background: url(../common/theme/main-01.png) top left no-repeat;
  background-size: 100% auto;
}

.head-box {
  margin: 30px 0 0 0;
  padding: 10px 20px 0 20px;
  border-radius: 15px;
  position: relative;
  color: #fff;
}

.head-box .title {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
  font-size: 36px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.head-box .title .label {
  display: inline-block;
  margin-left: 10px;
}

.head-box .genshin_logo {
  position: absolute;
  top: 1px;
  right: 15px;
  width: 97px;
}

.head-box .label {
  font-size: 16px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.head-box .label span {
  color: #d3bc8e;
  padding: 0 2px;
}

.cont-box {
  border-radius: 15px;
  margin: 20px 0;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

.help-group {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 15px 10px 20px;
}

.help-table {
  text-align: center;
  border-collapse: collapse;
  margin: 0;
  border-radius: 0 0 10px 10px;
  display: table;
  overflow: hidden;
  width: 100%;
  color: #fff;
}

.help-table .tr {
  display: table-row;
}

.help-table .td,
.help-table .th {
  font-size: 14px;
  display: table-cell;
  box-shadow: 0 0 1px 0 #888 inset;
  padding: 12px 0 12px 50px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.help-table .tr:last-child .td {
  padding-bottom: 12px;
}

.help-table .th {
  background: rgba(34, 41, 51, 0.5);
}

.help-icon {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  background: url("icon.png") 0 0 no-repeat;
  background-size: 500px auto;
  border-radius: 5px;
  left: 6px;
  top: 12px;
  transform: scale(0.85);
}

.help-title {
  display: block;
  color: #d3bc8e;
  font-size: 16px;
  line-height: 24px;
}

.help-desc {
  display: block;
  font-size: 13px;
  line-height: 18px;
}

.font-ys {
  font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

.font-nzbz {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, PingFangSC-Medium, "PingFang SC", sans-serif;
}

@font-face {
  font-family: 'Number';
  src: url("../common/font/tttgbnumber.woff") format('woff'), url("../common/font/tttgbnumber.ttf") format('truetype');
}

@font-face {
  font-family: 'NZBZ';
  src: url("../common/font/NZBZ.woff") format('woff'), url("../common/font/NZBZ.ttf") format('truetype');
}

@font-face {
  font-family: 'YS';
  src: url("../common/font/HYWH-65W.woff") format('woff'), url("../common/font/HYWH-65W.ttf") format('truetype');
}

.font-YS {
  font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

.font-NZBZ {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

.notice {
  color: #888;
  font-size: 12px;
  text-align: right;
  padding: 12px 5px 5px;
}

.notice-center {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #333;
}

.copyright {
  font-size: 14px;
  text-align: center;
  color: #fff;
  position: relative;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #000;
  margin: 10px 0;
}

.copyright .version {
  color: #d3bc8e;
  display: inline-block;
  padding: 0 3px;
}

/* Common Cons Classes */
.cons, .cons2-0, .cons2-1, .cons2-2, .cons2-3, .cons2-4, .cons2-5, .cons2-6 {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  border-radius: 4px;
  color: #fff;
}

/* Cons Background Colors */
.cons-0, .cons2-0 { background: #666; }
.cons-n0 { background: #404949; }
.cons-1, .cons2-1 { background: #5cbac2; }
.cons-2, .cons2-2 { background: #339d61; }
.cons-3, .cons2-3 { background: #3e95b9; }
.cons-4, .cons2-4 { background: #3955b7; }
.cons-5, .cons2-5 { background: #531ba9cf; }
.cons-6, .cons2-6 { background: #ff5722; }

/********  Fetter  ********/
.fetter {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url('./item/fetter.png');
  background-size: auto 100%;
}
.fetter.fetter1 { background-position: 0% 0; }
.fetter.fetter2 { background-position: 11.11111111% 0; }
.fetter.fetter3 { background-position: 22.22222222% 0; }
.fetter.fetter4 { background-position: 33.33333333% 0; }
.fetter.fetter5 { background-position: 44.44444444% 0; }
.fetter.fetter6 { background-position: 55.55555556% 0; }
.fetter.fetter7 { background-position: 66.66666667% 0; }
.fetter.fetter8 { background-position: 77.77777778% 0; }
.fetter.fetter9 { background-position: 88.88888889% 0; }
.fetter.fetter10 { background-position: 100% 0; }

/********  ELEM  ********/
.elem-hydro .talent-icon {
  background-image: url("./bg/talent-hydro.png");
}
.elem-hydro .elem-bg, .hydro-bg {
  background-image: url("./bg/bg-hydro.jpg");
}
.elem-anemo .talent-icon {
  background-image: url("./bg/talent-anemo.png");
}
.elem-anemo .elem-bg, .anemo-bg {
  background-image: url("./bg/bg-anemo.jpg");
}
.elem-electro .talent-icon {
  background-image: url("./bg/talent-electro.png");
}
.elem-electro .elem-bg, .electro-bg {
  background-image: url("./bg/bg-electro.jpg");
}
.elem-cryo .talent-icon {
  background-image: url("./bg/talent-cryo.png");
}
.elem-cryo .elem-bg, .cryo-bg {
  background-image: url("./bg/bg-cryo.jpg");
}
.elem-geo .talent-icon {
  background-image: url("./bg/talent-geo.png");
}
.elem-geo .elem-bg, .geo-bg {
  background-image: url("./bg/bg-geo.jpg");
}
.elem-pyro .talent-icon {
  background-image: url("./bg/talent-pyro.png");
}
.elem-pyro .elem-bg, .pyro-bg {
  background-image: url("./bg/bg-pyro.jpg");
}
.elem-dendro .talent-icon {
  background-image: url("./bg/talent-dendro.png");
}
.elem-dendro .elem-bg, .dendro-bg {
  background-image: url("./bg/bg-dendro.jpg");
}

.elem-bg {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
